/********** Template CSS **********/
:root {
    --primary: #f56609;
    --secondary: #073761;
    --light: #ffffff;
    --dark: #073761;
}

.text-primary {
    color: var(--primary) !important;
}

.footer.bg-dark {
    background-color: var(--dark) !important;
}

.bg-dark {
    background-color: var(--light) !important;
}

.bg-top {
    background-color: var(--dark) !important;
}

h6 {
    color: var(--light) !important;
}

h3 {
    color: var(--primary) !important;
}

.rnv-logo {
    width: 180px;
    height: 85px;
    /* adjust based on logo ratio */
    background-image: url("../img/r-n-v-tools-and-traders-logo.png");
    background-size: contain;
    /* keeps logo aspect ratio */
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f56609'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f56609'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
    color: #f56609 !important;
    border-color: #f56609 !important;
}

.rnv-logo-footer {
    width: 180px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 10px;
    background-image: url("../img/r-n-v-tools-and-traders-logo.png");
    background-size: contain;
    /* keeps logo aspect ratio */
    background-repeat: no-repeat;
    background-position: center;
}

h1,
h2,
b {
    color: var(--dark) !important;
}

.bg-top,
text-start {
    color: var(--light) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.pt-6 {
    padding-top: 90px;
}

.pb-6 {
    padding-bottom: 90px;
}

.py-6 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.btn {
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    transition: .5s;
}

.btn::after {
    position: absolute;
    content: "";
    width: 0;
    height: 5px;
    bottom: -1px;
    left: 50%;
    background: var(--primary);
    transition: .5s;
}

.btn.btn-primary::after {
    background: var(--dark);
}

.btn:hover::after,
.btn.active::after {
    width: 50%;
    left: 25%;
}

.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    left: 50%;
    bottom: 0;
    margin-left: -22px;
    border-radius: 0;
    z-index: 99;
}

.bg-dark-radial {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 1px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.bg-light-radial {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.navbar-dark .navbar-nav .nav-link {
    position: relative;
    padding: 35px 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--dark);
    outline: none;
    transition: .5s;
    font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
    font-weight: 700;
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link {
        margin-left: 0;
        padding: 10px 0;
    }

    .rnv-logo {
        width: 150px;
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23f56609' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .carousel-fade .carousel-item {
        height: 300px !important;
    }

    .page-header {
        height: 200px !important;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(4, 15, 40, .7); */
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h4 {
        font-size: 18px;
        font-weight: 500 !important;
    }

    .rnv-logo {
        width: 150px;
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23f56609' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .carousel-fade .carousel-item {
        height: 145px !important;
    }

    .page-header {
        height: 140px !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.page-header {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(4, 15, 40, .1), rgba(4, 15, 40, .1)), url(../img/banner-r-n-v-tools-and-traders-press-components.png) top center no-repeat;
    background-size: cover;
}

.page-header.press-tool-and-dies-making {
    background: url(../img/press-components-tools-diesr-n-v-tools-and-traders.png) top center no-repeat !important;
    background-size: cover !important;
}

.page-header.press-tool-components {
    background: url(../img/press-components-r-n-v-tools-and-traders-banner.png) top center no-repeat !important;
    background-size: cover !important;
}

.page-header.deep-draw-components {
    background: url(../img/deep-draw-components-r-n-v-tools-and-traders-banner.png) top center no-repeat !important;
    background-size: cover !important;
}

.page-header.sheet-metal-components {
    background: url(../img/sheet-metal-componets-r-n-v-tools-and-traders-banner.png) top center no-repeat !important;
    background-size: cover !important;
}

.page-header.sheet-metal-fabrication {
    background: url(../img/sheet-metal-fabrication-r-n-v-tools-and-traders-banner.png) top center no-repeat !important;
    background-size: cover !important;
}

.page-header.ventilators {
    background: url(../img/ventilators-making-components-r-n-v-tools-and-traders.png) top center no-repeat !important;
    background-size: cover !important;
}

.page-header.louver-die {
    background: url(../img/louver-dier-n-v-tools-and-traders-banner.png) top center no-repeat !important;
    background-size: cover !important;
}

.page-header.knoctching-die,
.page-header.l-angle-cutting-die {
    background: url(../img/angle-cutting-die-services-r-n-v-tools-and-traders-press-components.png) top center no-repeat !important;
    background-size: cover !important;
}

.page-header.forging-die {
    background: url(../img/foring-die-r-n-v-tools-and-traders-banner.png) top center no-repeat !important;
    background-size: cover !important;
}

.page-header.moulding-die {
    background: url(../img/moulding-die-r-n-v-tools-and-traders-banner.png) top center no-repeat !important;
    background-size: cover !important;
}

.page-header.piller-set {
    background: url(../img/piller-set-r-n-v-tools-and-traders-banner.png) top center no-repeat !important;
    background-size: cover !important;
}

.page-header.ballgauge-pillar-set {
    background: url(../img/ballgauge-pillar-set-r-n-v-tools-and-traders-banner.png) top center no-repeat !important;
    background-size: cover !important;
}

.service-category .active {
    color: var(--primary);
    font-weight: 700;
}

.service-item .service-icon {
    margin-top: -50px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.service-item .service-icon i {
    transition: .2s;
}

.service-item:hover .service-icon i {
    font-size: 60px;
}

.portfolio-item {
    margin-bottom: 60px;
}

.portfolio-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    padding: 0 30px;
    right: 30px;
    left: 30px;
    bottom: -60px;
    background: #FFFFFF;
    z-index: 3;
}

.portfolio-btn {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    font-size: 120px;
    line-height: 0;
    transition: .1s;
    transition-delay: .3s;
    z-index: 2;
    opacity: 0;
}

.portfolio-item:hover .portfolio-btn {
    opacity: 1;
}

.portfolio-box::before,
.portfolio-box::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    transition: .5s;
    z-index: 1;
    background: rgba(4, 15, 40, .7);
}

.portfolio-box::before {
    left: 0;
}

.portfolio-box::after {
    right: 0;
}

.portfolio-item:hover .portfolio-box::before {
    left: 0;
    width: 50%;
}

.portfolio-item:hover .portfolio-box::after {
    right: 0;
    width: 50%;
}

@media (min-width: 992px) {

    .testimonial,
    .contact-form {
        margin-left: -90px;
    }
}

@media (min-width: 992px) {
    .footer::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        top: 0;
        left: 50%;
        background: var(--primary)
    }
}

.footer-shape::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 100%;
    top: 0;
    left: -40px;
    background: var(--primary);
    transform: skew(40deg);
}

@media (min-width: 992px) {
    .navbar .nav-item.dropdown:hover>.dropdown-menu {
        display: block !important;
        margin-top: 0;
    }
}

/* Floating Action Buttons */
.float-call,
.float-whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    left: 30px;
    color: #FFF !important;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.float-call {
    bottom: 30px;
    background-color: var(--primary) !important;
    animation: pulse-orange 2s infinite;
}

.float-whatsapp {
    bottom: 105px;
    background-color: #25d366 !important;
    animation: pulse-green 2s infinite;
}

.float-call:hover,
.float-whatsapp:hover {
    background-color: var(--dark) !important;
    color: #FFF !important;
    transform: scale(1.1);
}

@keyframes pulse-orange {
    0% {
        box-shadow: 0 0 0 0 rgba(245, 102, 9, 0.7);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(245, 102, 9, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(245, 102, 9, 0);
    }
}

@keyframes pulse-green {
    0% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(37, 211, 102, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
    }
}

@media (max-width: 576px) {

    .float-call,
    .float-whatsapp {
        width: 50px;
        height: 50px;
        left: 20px;
        font-size: 22px;
    }

    .float-call {
        bottom: 20px;
    }

    .float-whatsapp {
        bottom: 85px;
    }
}